<div class="separator"></div>
<div class="container">
    <div class="row">
        <div class="col-12 static">
            <p>
                Being part of the UK’s largest dealer group, we have ambitious plans to fundamentally change the used
                car
                retail landscape forever. That’s why we’ve defined our purpose as being “to lead the evolution of the
                automotive marketplace.”
            </p>
            <p>
                Part of Sytner’s Car Supermarket Division, we are dedicated to providing our customers with an easy way
                to
                search for, protect and finance their next vehicle, as well providing competitive maintenance options to
                keep it in great working order.
            </p>
            <p>
                As an award-winning retailer we’ve clocked-up a string of industry awards for our digital innovations
                and
                website, exceptional retail experience and our commitment to our Colleagues.
            </p>
            <p>
                And with an annual turnover of £300 million, over 29,000 annual retail sales in 2017, up to 5,000 cars
                in
                group stock at any one time, more than 750 excellent Colleagues, 19 years of experience, 5 huge retail
                stores, and one huge ambition for continued innovation and success, it’s a great business to be part of.
            </p>
            <p>
                Ultimately, we know that Colleagues must be at the heart of our business and everything we do. If we get
                it
                right for our Colleagues, we’ll get it right for our customers, and we’ll continually evolve. That’s why
                we’re on a mission to deliver a world-class Colleague and Customer experience, now and in the future.
            </p>
            <p>
                Delivering our mission is reliant on us staying true to our below values every step of the way:
            <ul>
                <li>Be determined</li>
                <li>Always one team</li>
                <li>Be trustworthy</li>
                <li>Always evolve</li>
                <li>Be at your best</li>
            </ul>
            </p>
            <div class="logo">
                <img src="../../assets/img/car-logo.png" alt="car-logo" />
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>