<div class="separator"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 box">
            Best selling automobiles are those passenger cars and light trucks which, since the introduction of the Benz
            Patent Motorwagen in 1886, can lay claim to being the highest selling vehicles in the markets they compete
            in.

            While references to verify the manufacturers' claims have been included, there is always the possibility of
            inaccuracy or hyperbole. Also note that a single vehicle can be sold concurrently under several nameplates
            in different markets, as with for example the Nissan Sunny; in such circumstances manufacturers often
            provide only cumulative units sold figures for all models. As a result, there is no definitive standard for
            measuring units sold; Chrysler minivans has sold over 16 million worldwide. Volkswagen has claimed its
            Beetle as the bestselling car in history as it did not substantially change throughout its production
            run.[1] By contrast, Toyota has applied the Corolla nameplate to 11 generations since 1966, which have sold
            over 40 million through July 2013.[2]
        </div>
        <div class="separator"></div>
        <div class="col-md-6 box">
            Four cars have been widely acknowledged as the "bestselling automobile in the world" since Ford built its
            millionth Model T on December 10, 1915. The Model T itself remained the highest seller until forty five
            years after production ceased in 1927. On February 17, 1972 Volkswagen claimed that the Ford had been
            superseded by the Beetle, when the 15,007,034th was manufactured.[1] Although The Model T has subsequently
            been credited with 16.5 million units sold, this anomaly is moot in light of the Beetle reaching 21
            million.[3]
        </div>
        <div class="col-md-6 box float-right">
            The Beetle remained the bestselling vehicle until the late 1990s,[4] when it was itself overtaken by the
            Toyota Corolla.[5] However, this was an example of the modern practice of applying a brand name across a
            range of vehicles, and retaining it for marketing purposes even as the car changes.[6] While the first
            Corolla in 1966 was rear wheel drive and rode on a 2286 mm wheelbase, the current front wheel drive versions
            share a 2600 mm wheelbase and use a mechanically unrelated platform. The Beetle's overall design, both
            aesthetically and mechanically, changed so little over the course of its 65-year run that it's possible to
            mount a 1936 body on a 2003 chassis or vice versa.
        </div>
        <div class="separator"></div>
        <div class="col-md-12 box">
                <h5> Our site provides info about user and cars and their actions (buying/selling) or whatever</h5>
                <h5> You can see what info you want by clicking on sections on menu above</h5>
        </div>
        <div class="logo">
            <img src="../../assets/img/car-img.png" alt="car image" />
        </div>
    </div>
</div>

<div class="separator"></div>