html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    overflow-x: hidden
}

#carouselExampleIndicators {
    overflow-x: hidden;
}

.carousel-indicators > li {
    cursor: pointer;
}

.position-sticky {
    top: 0;
}

.form-control {
    width: 80%;
    display: inline-flex;
}

.fa-search {
    padding: 0 6px;
}

.btn:hover > .fa {
    color: #005cbf;
}