html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden
}

#carouselExampleIndicators {
    overflow-x: hidden;
}

.carousel-indicators > li {
    cursor: pointer;
}

.position-sticky {
    top: 0;
}

.form-control {
    width: 80%;
    display: inline-flex;
}

.fa-search {
    padding: 0 6px;
}

.btn:hover > .fa {
    color: #005cbf;
}
.fa-user-minus {
    color: red;
}

.btn:hover > .fa-user-minus {
    color: #FF7911;
}

.separator {
    height: 50px;
    width: 100%;
}

.container {
    box-shadow: 0 0 61px -12px rgba(0, 0, 0, 0.68);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.box {
    background-color: rgba(128, 128, 128, 0.13);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: static !important;
}

.row {
    padding: 10px;
}

.car-form > .form-control {
    width: 61%;
}

input[type="checkbox"] {
    visibility: hidden;
}
.checkboxOverride {
    position: relative;
    width: 100%;
}
.checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.checkboxOverride label {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
    margin-left: 20px;
}
.checkboxOverride label:after {
    border-style: none none solid solid;
    content: "";
    height: 5px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 7px;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform:rotate(-45deg);
    width: 10px;
}

.checkboxH3 {
    position: absolute;
    margin-left: 55px;
    margin-top: -4px;
}

.logo {
    margin: auto;
    max-width: 150px;
    max-height:  150px;
}

.logo img {
    width: 150px;
    height: 150px;
}

.footer {
    text-align: center;
    margin: auto;
}

.static {
    position: static;
}