nav > ul > li {
    margin: 5px;
    cursor: pointer;
}

.under-nav {
    margin-top: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: inherit;
}

body {
    color: #fff !important;
}